
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Parents_center-slideimage-swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; 
 overflow: hidden;

}

.center-slideimage-swiper {
  width: 85%;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  border: 2px solid red;
  background: #fff; /* optional */
}

.Slide_image {
  width: 100%;
  height: 100%;
  object-fit: contain;  /* No cutting, full image visible */
  display: block;
  border-radius: 12px;
}



/* Tablet */
@media (min-width: 640px) {
  .Slide_image {
    height: 240px;
  }
}

/* Laptop */
@media (min-width: 1024px) {
  .Slide_image {
    height: 300px;
  }
}

/* Large Screens */
@media (min-width: 1280px) {
  .Slide_image {
    height: 350px;
  }
}
